.user-page-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.profile-id-section {
    display: flex;
    align-items: center;
}

.profile-icon {
    width: 50px;
    height: 50px;
    background-color: #f0f0f0;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-id {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.profile-button {
    background-color: #f7f7f7;
    padding: 10px 20px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
}

.auction-summary {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.auction-summary-item h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.auction-summary-item p {
    font-size: 14px;
    color: #777;
}

.auction-list-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.auction-list-header h2 {
    font-size: 18px;
    font-weight: bold;
}

.more-button {
    font-size: 14px;
    color: #007aff;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.auction-list {
    border: 1px solid #eaeaea;
    border-radius: 12px;
    padding: 15px;
}

.auction-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
}

.auction-info {
    flex-grow: 1;
}

.auction-status {
    font-size: 14px;
    color: #007aff;
}

.auction-date {
    font-size: 12px;
    color: #888;
}

.auction-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}

.auction-price {
    display: flex;
    align-items: center;
}

.current-price {
    font-size: 16px;
    font-weight: bold;
    color: #007aff;
    margin-right: 10px;
}

.days-remaining {
    font-size: 14px;
    color: #e74c3c;
}

.delete-button {
    background-color: transparent;
    border: none;
    color: #e74c3c;
    cursor: pointer;
}

.footer-summary {
    margin-top: 30px;
    border: 1px solid #eaeaea;
    border-radius: 12px;
    padding: 15px;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.coupon-item button {
    background-color: #007aff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.coupon-item button:hover {
    background-color: #005bb5;
}
